/hackateen/node_modules
/hackateen/yarn.lock
/hackateen/.pnp
/hackateen/.pnp.*
/hackateen/.yarn/*
/hackateen/.yarn/patches
/hackateen/.yarn/plugins
/hackateen/.yarn/releases
/hackateen/.yarn/versions
/hackateen/coverage
/hackateen/.next/
/hackateen/out/
/hackateen/build
/hackateen/.DS_Store
/hackateen/*.pem
/hackateen/.env
/hackateen/package-lock.json

/backend/node_modules
/backend/yarn.lock
/backend/package-lock.json
/backend/.env